.container-table
	background-color: rgba(34, 34, 34, .3)
	border-collapse: collapse
	border-radius: 5px
	overflow: hidden

	width: 100%
	max-width: 500px

	thead
		background-color: rgba(34, 34, 34, .8)

		tr th
			color: $WHITE
			font-family: 'Roboto Bold'
			padding: .5rem 0

	tbody
		tr:nth-child(even)
			background-color: rgba(34, 34, 34, .5)
		tr:nth-child(odd)
			background-color: rgba(34, 34, 34, .3)
		.adder td
			color: $WHITE
			background-color: $GREEN_DARK

			font-family: 'Roboto Bold'
			transition: .3s linear 0s
			cursor: pointer
			padding: .5rem 0
		.adder td:hover
			background-color: $GREEN_MEDIUM
		.adder td div
			display: flex
			align-items: center
			justify-content: center

		tr
			width: 100%

			.code
				width: 10%
			.account-debe,
			.account-haber
				width: calc(50% / 2)
			.number-debe,
			.number-haber
				width: 20%
			

			td
				color: $GRAY
				font-family: 'Roboto Light'
				font-size: .8rem
				padding: .3rem .5rem

				select
					width: 100%

				input[type=number]
					width: 100%

