*
	padding: 0
	margin: 0
	box-sizing: border-box

h1,h2,h3,h4,h5,h6
	font-weight: normal

input:focus
	outline: none !important
	box-shadow: none !important


@import modules/_variables
@import modules/_navigation
@import modules/_banner
@import modules/_form_login
@import modules/_table_asientos
@import modules/_form_search
@import modules/_table