* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  width: 100vw;
  padding: 1rem 5rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

nav h1 {
  color: #F2F2F2;
  font-family: "Roboto Black";
}

nav p {
  color: #818181;
  font-family: "Roboto Bold";
  font-size: 0.7rem;
  text-align: right;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#banner .img {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100%;
  padding: 0 5rem;
  position: relative;
}

#banner .img .circle {
  background-color: #D7F205;
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  position: absolute;
  z-index: 2;
  bottom: -15vw;
  left: -10vw;
}

#banner .img img {
  width: 100%;
  height: auto;
  z-index: 3;
}

#banner #login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100%;
  padding: 0 5rem;
}

#login-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

#login-form form h1 {
  color: #333333;
  font-family: "Roboto Black";
  margin-bottom: 2.5rem;
}

#login-form form [class^=login-] {
  display: flex;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.3);
  border-radius: 10rem;
  width: 60%;
  height: 2.5rem;
  padding: 0 1rem;
  margin: 0.7rem 0;
  transition: 0.3s ease 0s;
}

#login-form form [class^=login-] span {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}

#login-form form [class^=login-] input {
  color: #F2F2F2;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-family: "Roboto Light";
  border: none;
  width: 100%;
  height: 100%;
}

#login-form form button {
  color: #333333;
  background-color: #D7F205;
  font-family: "Roboto Black";
  font-size: 0.8rem;
  letter-spacing: 2px;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  width: 60%;
  height: 2.5rem;
  margin-top: 2.5rem;
  transition: 0.3s linear 0s;
}

#login-form form button:hover {
  color: #F2F2F2;
  background-color: #333333;
}

#table-asientos {
  width: 100vw;
  margin: 3rem 0;
}

#table-asientos .search,
#table-asientos table {
  width: 100%;
  padding: 0 5rem;
}

.search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #333333;
  padding-top: 5rem !important;
}

.search h1 {
  grid-column: 1/span 2;
  color: #F2F2F2;
  font-family: "Roboto Black";
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3rem;
}

.search .search-input,
.search fieldset {
  display: flex;
}

.search .id {
  display: flex;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.3);
  border-radius: 10rem;
  height: 2.5rem;
  padding: 0 1rem;
  margin: auto 5rem;
  transition: 0.3s ease 0s;
}

.search .id span {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}

.search .id input {
  color: #F2F2F2;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-family: "Roboto Light";
  border: none;
  width: 100%;
  height: 100%;
}

.search fieldset {
  border-radius: 10px;
  margin-left: 5rem;
}

.search fieldset legend {
  color: #F2F2F2;
  font-family: "Roboto Black";
  padding: 0 0.5rem;
}

.search fieldset [class^=order-by] {
  padding: 1rem 2rem;
}

.search fieldset [class^=order-by] label {
  color: #818181;
  font-family: "Roboto Light";
}

.search fieldset [class^=order-by] input {
  margin-left: 3rem;
}

.search fieldset [class^=order-by] input[type=radio]:checked {
  transform: scale(1.3);
}

.search fieldset [class^=order-by] span {
  color: #818181;
}

.search button {
  grid-column: 1/span 2;
  color: #97BF04;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #97BF04;
  border-radius: 50rem;
  font-family: "Roboto Black";
  font-size: 1rem;
  letter-spacing: 2px;
  width: 30%;
  padding: 0.5rem 0;
  margin: 2rem auto;
  transition: 0.3s ease 0s;
}

.search button:hover {
  color: #333333;
  background-color: #97BF04;
}

table {
  margin-top: 5rem;
}

